.C-row{
   
    width: 100%;
    background-color: #17242f;
}
.categorycontainer{
    text-align:start;
}
.topCategories{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.box2{
    width: 170px;
    height: 110px;
    background-color: #01176b;
   margin: 5px;
    background-image: linear-gradient(270deg, #01176b 0%, #19a2e9 100%);
    border-radius: 6px;
    text-align: center;
    align-items: center;
    position: relative;
}
.box2:hover{
    border: 2px solid white;
    cursor: pointer;
}
.categorycontainer{
    width: 90%;
    margin: 0 auto;
    background-color: #17242f;
    display: grid;
    grid-template-columns: 50% 30% 21%;   
}
.Langauges{
    text-align:center;
    width: 80%;
   display: grid;
   grid-template-columns: 50% 50%;
   color:  #5589b6;
  
}
.otherCategories{
    width: 70%;
    margin: 0 auto;
    color:  #5589b6;
   
}
h4{
    color: white;
}
.list-L:hover{
    cursor: pointer;

}
li:hover{
    color: white;
}
 .box2 p{
    position: absolute;
    top: 30%;
    left: 20%;
    color: white;
    font-size: 15px;  
   text-align: center;
 }